<!DOCTYPE html>
<html>
<head lang="">
    <meta charset="utf-8">
    <title></title>
    <script type="application/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
    <script type="application/javascript" src="javascripts/play_game.js"></script>
</head>
<body>
<p>welcome!<h4 id="player"><%=player_name%> </h4></p>
<p id="gravity"></p>
</body>
</html>
