<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>啪啪啪打怪</title>
    <link rel="stylesheet" href="stylesheets/wall.css">
    <script type="application/javascript" src="javascripts/jquery-2.1.3.min.js"></script>
    <script type="application/javascript" src="javascripts/wall.js"></script>
    <script type="application/javascript" src="javascripts/underscore.js"></script>
</head>
<body>
<div id="page_1">
    <div id="qr"><img src="images/localhost.png"></div>
</div>
<div id="page_2">
    <div id="number">

    </div>
</div>
<div id="game">

    <div id="show_game" style="width: 100%;height: 300px;">

        <div id="panel_1" style="height:150px">
            <!--<div id="action_1" style="margin-left:100%;width: 100px;height: 100px;background-color:red;position: absolute;"></div>-->
        </div>
        <!--<div id="panel_2" style="height: 300px">-->
            <!--<div id="action_2" style="margin-left:100%;width: 100px;height: 100px;background-color:red;position: absolute"></div>-->
        <!--</div>-->
    </div>

</div>
<div id="page_3">
    <section id="rank">
        <article>
            <span>123分</span>
            <span>蔡磊</span>
        </article>
        <article>
            <span>123分</span>
            <span>蔡磊</span>
        </article>
        <article>
            <span>123分</span>
            <span>蔡磊</span>
        </article>
        <article>
            <span>123分</span>
            <span>蔡磊</span>
        </article>
        <article>
            <span>123分</span>
            <span>蔡磊</span>
        </article>
        <article>
            <span>123分</span>
            <span>蔡磊</span>
        </article>
    </section>
    <div id="rank_btn"></div>
</div>
<!--<audio src="musics/bg.mp3" preload="auto" autoplay loop></audio>-->
<!--<audio src="musics/pa.mp3" preload="auto"></audio>-->
</body>




<!--<script>
    $("audio")[0].play();
    var appId = 'seda2ojcbee75ih5w63cs9lp1g13it03v32k8cm7docvyz6q';
    var appKey = 'tf6vqda3lw7go3g1r8if6w948fs3ylqmuup0f6ghcqc2432e';
    AV.initialize(appId, appKey);

    var channel = "";
    var push = AV.push({
        appId: appId,
        appKey: appKey
    });

    var isReady = false;
    push.open(function() {
        console.log('连接服务器成功，可以接收推送');
    });
    push.on('message', function(data) {
        //只接收消息
        //console.log(data);
        var type = data.type;
        var uid = data.uid;
        var vchannel = data.channel;
        if(type < 10 && vchannel == channel){
            boom(type,uid);
        }else{
            //有玩家加入
            if(type == 20 && vchannel == channel){
                var user = findUser(uid)
                if(user == null){
                    var nickname = data.nickname;
                    var headimgurl = data.headimgurl;
                    addUser(uid,nickname,headimgurl);
                    if(users.length >= 2 && !isReady){
                        isReady = true;
                        ready();
                    }
                }
            }
        }
    });

    var users = [];
    function addUser(uid,nickname,headimgurl){
        users.push({
            uid:uid,
            nickname:nickname,
            headimgurl:headimgurl,
            score:0
        });
    }
    function findUser(uid){
        for(var i = 0 ; i < users.length; i++){
            if(users[i].uid == uid){
                return users[i];
            }
        }
        return null;
    }

    $(document).click(function(){
        var type = parseInt(Math.random() * 1024) % 6 + 1;
        boom(type);
    })
    connect();

    function connect(){
        channel =  parseInt(Math.random() * 80000);
        var qrkey = "http://timelineapp.pointstone.org/ci/authorize/base_userinfo/?gameurl=http://tttang.didaren.com/magic/index.php?channel=" + channel;
        $('#qr').qrcode({width:235,height:235,correctLevel:0,text:qrkey});

        /*
         setTimeout(function(){
         ready();
         },1000)

         */
    }
    $("#rank_btn").click(function(e){
        window.location.href = "http://tttang.didaren.com/magic/wall.html"
    });
    var inte = -1;
    var index = 0;
    function ready(){
        //播放倒计时
        $("#page_1").hide();

        inte = setInterval(function(){
            index ++;
            $("#number").css("background-position","-" + (index * 220) + "px,0");
            if(index > 3){
                clearInterval(inte);

                start();
            }
        },1000);

    }

    var inte = -1;
    function start(){
        $("#page_2").hide();
        inte = setInterval(function(){
            createItem();
        },2000);

        setTimeout(function(){
            clearInterval(inte);
            rank();
        },30000)
    }

    var items = [];

    function createItem(){
        var type = parseInt(Math.random() * 1024) % 3 + 1;

        if(type == 3){
            type = 4;
        }

        items.push({type:type,boom:false,uid:-1});

        var dom = $("<div></div>").addClass("item").attr("data-index",items.length);
        var rand = parseInt(Math.random() * 500);

        $(dom).addClass("type-" + type);

        var item = $("<article></article>").appendTo(dom);
        $(dom).css("top",rand);
        $("<img />").attr("src","images/item_0.png").prependTo(item);
        $("<img />").attr("src","images/item_1.png").prependTo(item);
        $("<img />").attr("src","images/item_2.png").prependTo(item);
        $("<img />").attr("src","images/item_3.png").prependTo(item);
        $("<img />").attr("src","images/item_4.png").prependTo(item);
        $("<img />").attr("src","images/item_5.png").prependTo(item);
        $("<img />").attr("src","images/item_6.png").prependTo(item);
        $("<img />").attr("src","images/item_7.png").prependTo(item);
        $("<img />").attr("src","images/item_8.png").prependTo(item);
        $("<img />").attr("src","images/cloud.png").appendTo(item);
        $("<img />").attr("src","images/type_" + type + ".png").appendTo(item);



        $(dom).appendTo("#game");
        setTimeout(function(){
            $(dom).addClass("active");
        },100);
        setTimeout(function(_index){
            return function(){
                items[_index].boom = true;
            }
        }(items.length),12000)
    }

    function boom(type,uid){
        var item = $(".type-" + type);
        $("audio")[1].play();
        for(var i = 0 ; i < item.length ; i ++){
            var item_index = parseInt($(item[i]).attr("data-index")) - 1;

            if(items[item_index].boom == false){
                items[item_index].boom = true;
                items[item_index].uid = uid;
            }
        }
        $(".type-" + type).addClass("boom");
    }

    function rank(){
        //显示排行榜
        $("#game").hide();

        $("#rank").html("");

        for(var i = 0 ; i< items.length ; i ++){
            var user = findUser(items[i].uid);
            if(user != null){
                user.score ++;
            }
        }

        for(var i = 0 ; i < 6 ; i ++){
            var user_dom = $("<article></article>");
            if(i < users.length){
                $("<span></span>").html(users[i]["nickname"]).appendTo(user_dom);
                $("<span></span>").html(users[i]["score"]).appendTo(user_dom);
            }else{
                $("<span></span>").html("").appendTo(user_dom);
                $("<span></span>").html("").appendTo(user_dom);
            }
            $(user_dom).appendTo("#rank");
        }
    }
</script>-->
</html>